.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 999;

    &__progressBar {
        width: 400px;
    }

    &__percentage {
        position: absolute;
    }
}